---
#title: "Home"
layout: splash
permalink: /
date: 2020-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: "/images/bg.jpg"
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Tao Zhang"
  #excerpt: "Bioinformtics, Epigenetics and Genomics."
excerpt: '<br /><br />BIOSTATISTICS, STATISTICAL GENOMICS, BIOINFORMATICS, COMPLEX TRAITS, HUMAN GENETICS, Single Cell Transcriptome.<br /><br />'
#intro:
#  - excerpt: 'Test `type="center"`'
feature_row:
  - image_path: "/images/scRNA.png"
    alt: "scRNAseq-Pipeline"
    title: "scRNAseq-Pipeline"
    excerpt: "**scRNAseq Pipeline** design By Meng Luo. "
    url: 'https://github.com/czheluo/SingleCelldataVZ'
    btn_label: "scRNAseq"
    btn_class: "btn--inverse"
  - image_path: "/images/locuszoom.png"
    alt: "LocusZoom"
    title: "LocusZoom"
    excerpt: "**LocusZoom** Pipeline visualization of GWAS (eQTL, EWAS TWAS and MWAS) regional results for research and publication."
    url: "https://github.com/czheluo/LocusZoom-Pipeline"
    btn_label: "LocusZoom"
    btn_class: "btn--inverse"
  - image_path: "/images/mgwas.svg"
    title: "MMGWAS"
    excerpt: "Mutiple methods GWASs workflow."
    url: "https://github.com/czheluo/MMGWAS-Pipeline"
    btn_label: "MMGWAS"
    btn_class: "btn--inverse"
  - image_path: "/images/v1.png"
    title: "Circos-Pipeline"
    excerpt: "This Pipeline was using to Viz the genome variation or others like chord diagram plot for GO and KEGG enrichment analysis result."
    url: "https://github.com/czheluo/Circos-Pipeline"
    btn_label: "Circos Pipeline"
    btn_class: "btn--inverse"
  - image_path: "/images/bsapipeline.jpg"
    title: "MBSA-Pipeline"
    excerpt: "Multple methods for BSA Pipeline."
    url: "https://github.com/czheluo/MBSA"
    btn_label: "MBSA"
    btn_class: "btn--inverse"
  - image_path: "/images/polymappipeline.jpg"
    title: "polymap-Pipeline"
    excerpt: "Pipeline for polymap and QTL Mapping."
    url: "https://github.com/czheluo/Polymap"
    btn_label: "polymap"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!--link rel="stylesheet" href="assets/css/style.css">
<div class="designation"  align="center"><h3>Recent Posts</h3></div-->

<h3 style="font-weight: bold;">Recent Posts :</h3>

{% for post in site.posts limit: 3 %}
  {% include archive-single.html %}
{% endfor %}
