---
title: "MELworks Lab"
layout: splash
permalink: /
date: 2021-02-27T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: "/images/bg.jpg"
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Meng Luo"
excerpt: '<br /><br />Biostatistics, Optimization Algorithm, Machine Learning, Statistical Genomics, Bioinformatics, Human Genetics, gene regulation, Single Cell Transcriptome <br /><br />'
#intro:
#  - excerpt: 'Test `type="center"`'
feature_row:
  - image_path: "/images/scRNA.png"
    alt: "Single-cell RNA-seq analysis"
    title: "Single-cell RNA-seq analysis"
    excerpt: "**single‐cell RNA‐seq analysis Pipeline** designed By Meng Luo (developed in MajorBio, Privated and Unpublished). "
    url: 'https://github.com/czheluo/SingleCelldataVZ'
    btn_label: "scRNAseq"
    btn_class: "btn--inverse"
  - image_path: "/images/dyca.png"
    alt: "Single-cell RNA-seq clustering analysis"
    title: "Single-cell RNA-seq clustering analysis"
    excerpt: "New Non-hierarchical Clustering Objetives and the Algorithms to Optimal Clustering for Single-cell RNA-seq analysis (unpublished). "
    url: 'https://github.com/czheluo/DYCA'
    btn_label: "DYCA"
    btn_class: "btn--inverse"
  - image_path: "/images/MMGWAS.png"
    title: "MMGWAS"
    excerpt: "Mutiple methods GWASs workflow designed By Meng Luo (developed in MajorBio, Privated and Unpublished)."
    url: "https://github.com/czheluo/MMGWAS-Pipeline"
    btn_label: "MMGWAS"
    btn_class: "btn--inverse"
  - image_path: "/images/ISRGWAS.png"
    alt: "ISR-GWAS"
    title: "ISR-GWAS"
    excerpt: "ISR-MLLM For GWAS scan, epistasis scan AND genomic selection model (Mult-Loci Linear Model Based on Iterative screen regression) (under review)."
    url: "https://github.com/czheluo/ISR-MLLM"
    btn_label: "ISR-GWAS"
    btn_class: "btn--inverse"
  - image_path: "/images/PPISR.png"
    alt: "ISR-GS"
    title: "ISR-GS"
    excerpt: "Polygenic Prediction of Complex Traits with Iterative Screen Regression Models (under review)."
    url: "https://github.com/czheluo/PPISR"
    btn_label: "ISR-GS"
    btn_class: "btn--inverse"
  - image_path: "/images/ISR_epistasis.png"
    alt: "ISR-epistasis"
    title: "ISR-epistasis"
    excerpt: "Iterative Screen Regression Models for Genetic Mapping Studies of Epistasis of Quantitative Traits (under review)."
    url: "https://github.com/czheluo/ISR"
    btn_label: "ISR-epistasis"
    btn_class: "btn--inverse"
  - image_path: "/images/mona-lisa100K.gif"
    alt: "EMF-CE"
    title: "EMF-CE"
    excerpt: "Solve traveling salesman problem using EMF-CE algorithm (under review)."
    url: "https://github.com/czheluo/EMF-CE"
    btn_label: "EMF-CE"
    btn_class: "btn--inverse"
  - image_path: "/images/re1.jpg"
    alt: "CEA"
    title: "CEA"
    excerpt: "Curve and Surface Fitting with Contraction-Expansion Algorithm."
    url: "https://github.com/czheluo/CEA"
    btn_label: "CEA"
    btn_class: "btn--inverse"
  - image_path: "/images/locuszoom.png"
    alt: "LocusZoom"
    title: "LocusZoom"
    excerpt: "**LocusZoom** Pipeline visualization of GWAS (eQTL, EWAS TWAS and MWAS) regional results for research and publication (for any species). (developed in MajorBio, Privated and Unpublished)"
    url: "https://github.com/czheluo/LocusZoom-Pipeline"
    btn_label: "LocusZoom"
    btn_class: "btn--inverse"
  - image_path: "/images/v1.png"
    title: "Circos-Pipeline"
    excerpt: "This Pipeline was using to Viz the genome variation or others like chord diagram plot for GO and KEGG enrichment analysis result."
    url: "https://github.com/czheluo/Circos-Pipeline"
    btn_label: "Circos Pipeline"
    btn_class: "btn--inverse"
  - image_path: "/images/bsapipeline.jpg"
    title: "MBSA-Pipeline"
    excerpt: "Multple methods for BSA Pipeline designed By Meng Luo (developed in MajorBio, Privated and Unpublished)."
    url: "https://github.com/czheluo/MBSA"
    btn_label: "MBSA"
    btn_class: "btn--inverse"
  - image_path: "/images/polymappipeline.jpg"
    title: "polymap-Pipeline"
    excerpt: "Pipeline for polymap and QTL Mapping designed By Meng Luo (developed in MajorBio, Privated and Unpublished)."
    url: "https://github.com/czheluo/Polymap"
    btn_label: "polymap"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!--link rel="stylesheet" href="assets/css/style.css">
<div class="designation"  align="center"><h3>Recent Posts</h3></div-->

<h3 style="font-weight: bold;">Recent Posts :</h3>

{% for post in site.posts limit: 3 %}
  {% include archive-single.html %}
{% endfor %}
