---
title: ""
layout: splash
permalink: /
date: 2020-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: "/images/bg.jpg"
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Meng Luo"
excerpt: '<br /><br />Biostatistics, Optimization Algorithm, Statistical Genomics, Bioinformatics, Complex Traits, Human Genetics, Single Cell Transcriptome <br /><br />'
#intro:
#  - excerpt: 'Test `type="center"`'
feature_row:
  - image_path: "/images/scRNA.png"
    alt: "scRNAseq-Pipeline"
    title: "scRNAseq-Pipeline"
    excerpt: "**scRNAseq Pipeline** design By Meng Luo. "
    url: 'https://github.com/czheluo/SingleCelldataVZ'
    btn_label: "scRNAseq"
    btn_class: "btn--inverse"
  - image_path: "/images/mgwas.svg"
    title: "MMGWAS"
    excerpt: "Mutiple methods GWASs workflow."
    url: "https://github.com/czheluo/MMGWAS-Pipeline"
    btn_label: "MMGWAS"
    btn_class: "btn--inverse"
  - image_path: "/images/ISRGWAS.png"
    alt: "ISR-GWAS"
    title: "ISR-GWAS"
    excerpt: "ISR-MLLM For GWAS scan, epistasis scan AND genomic selection model (Mult-Loci Linear Model Based on Iterative screen regression)."
    url: "https://github.com/czheluo/ISR-MLLM"
    btn_label: "ISR-GWAS"
    btn_class: "btn--inverse"
  - image_path: "/images/mona-lisa100K.gif"
    alt: "EMF-CE"
    title: "EMF-CE"
    excerpt: "Solve traveling salesman problem using EMF-CE algorithm."
    url: "https://github.com/czheluo/EMF-CE"
    btn_label: "EMF-CE"
    btn_class: "btn--inverse"
  - image_path: "/images/re1.jpg"
    alt: "CEA"
    title: "CEA"
    excerpt: "Curve and Surface Fitting with Contraction-Expansion Algorithm."
    url: "https://github.com/czheluo/CEA"
    btn_label: "CEA"
    btn_class: "btn--inverse"
  - image_path: "/images/locuszoom.png"
    alt: "LocusZoom"
    title: "LocusZoom"
    excerpt: "**LocusZoom** Pipeline visualization of GWAS (eQTL, EWAS TWAS and MWAS) regional results for research and publication."
    url: "https://github.com/czheluo/LocusZoom-Pipeline"
    btn_label: "LocusZoom"
    btn_class: "btn--inverse"
  - image_path: "/images/v1.png"
    title: "Circos-Pipeline"
    excerpt: "This Pipeline was using to Viz the genome variation or others like chord diagram plot for GO and KEGG enrichment analysis result."
    url: "https://github.com/czheluo/Circos-Pipeline"
    btn_label: "Circos Pipeline"
    btn_class: "btn--inverse"
  - image_path: "/images/bsapipeline.jpg"
    title: "MBSA-Pipeline"
    excerpt: "Multple methods for BSA Pipeline."
    url: "https://github.com/czheluo/MBSA"
    btn_label: "MBSA"
    btn_class: "btn--inverse"
  - image_path: "/images/polymappipeline.jpg"
    title: "polymap-Pipeline"
    excerpt: "Pipeline for polymap and QTL Mapping."
    url: "https://github.com/czheluo/Polymap"
    btn_label: "polymap"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<!--link rel="stylesheet" href="assets/css/style.css">
<div class="designation"  align="center"><h3>Recent Posts</h3></div-->

<h3 style="font-weight: bold;">Recent Posts :</h3>

{% for post in site.posts limit: 3 %}
  {% include archive-single.html %}
{% endfor %}
